<ion-content class="ion-align-items-center ion-justify-content-center" [fullscreen]="true">
  <ion-grid class="content-box">
    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-margin">

          <ion-row class="ion-text-center ion-justify-content-center">
            <img src="assets/Logo.png" alt="Logo" class="logoImageCss " />
          </ion-row>
          <!-- <ion-label>{{ isLogin() ? 'Login' : 'Sign Up' }} </ion-label> -->


          <!-- <ion-item lines="none">
            @if(isMode()) {
            <ion-toggle class="ion-text-right" [checked]="isMode" (ionChange)="changeMode($event)">Dark
              Mode</ion-toggle>
            } @else {
            <ion-toggle class="ion-text-right" [checked]="!isMode" (ionChange)="changeMode($event)">Light
              Mode</ion-toggle>
            }
          </ion-item> -->


          <!-- login -->

          @if(isLogin()) {
          <ion-card-header>
            <ion-card-title>Login </ion-card-title>
          </ion-card-header>
          <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <ion-grid class="ion-text-left">
              <ion-item>
                <ion-input label="Enter Username" formControlName="email" labelPlacement="floating"
                  placeholder=""></ion-input>
              </ion-item>
              @if (loginCon.email.touched && loginCon.email.invalid) {
              <ion-note color="danger">
                @if (loginCon.email.errors?.['required']) {
                <small>Email is required</small>
                }
                @if (loginCon.email.errors?.['email']) {
                <small>Invalid email</small>
                }
              </ion-note>
              }
              <ion-item>
                <ion-input [type]="passwordType" formControlName="password" label="Enter password"
                  labelPlacement="floating"></ion-input>
                <ion-icon class="iconCss" name="{{ showPassword() ? 'eye-off' : 'eye' }}" slot="end"
                  (click)="toggleShowPassword('login')"></ion-icon>
              </ion-item>
              @if (loginCon.password.touched && loginCon.password.invalid) {
              <ion-note color="danger">
                @if (loginCon.password.errors?.['required']) {
                <small>Password is required</small>
                }
                @if (loginCon.password.errors?.['password']) {
                <small>Invalid password</small>
                }
              </ion-note>
              }
              <ion-button expand="full" shape="round" type="submit" [disabled]="loginForm.invalid || submitting"> {{
                submitting ?
                'Please wait...' : 'Login' }}</ion-button>
            </ion-grid>
          </form>


          } @else {
          <!-- signup -->
          <ion-card-header>
            <ion-card-title>Signup</ion-card-title>
          </ion-card-header>
          <form [formGroup]="signupForm" (ngSubmit)="signUpSubmit()">
            <ion-grid class="ion-text-left">

              <ion-item>
                <ion-input label="Enter email ID" formControlName="email" labelPlacement="floating"
                  placeholder=""></ion-input>
              </ion-item>
              @if (SignupCon.email.touched && SignupCon.email.invalid) {
              <ion-note color="danger">
                @if (SignupCon.email.errors?.['required']) {
                <small>Email is required</small>
                }
                @if (SignupCon.email.errors?.['email']) {
                <small>Invalid email</small>
                }
              </ion-note>
              }
              <ion-item>
                <ion-input [type]="passwordSignupType" formControlName="password" label="Enter password"
                  labelPlacement="floating">
                </ion-input>
                <ion-icon class="iconCss"
                    name="{{ showSignupPassword() ? 'eye-off' : 'eye' }}" slot="end"
                    (click)="toggleShowPassword('signup')"></ion-icon>
              </ion-item>
              @if (SignupCon.password.touched && SignupCon.password.invalid) {
              <ion-note color="danger">
                @if (SignupCon.password.errors?.['required']) {
                <small>Password is required</small>
                }

                @if (SignupCon.password.errors?.['pattern']) {
                <small>Password must be 8+ chars, include uppercase, lowercase & number</small>
                }
              </ion-note>
              }

              <ion-item>
                <ion-input [type]="passwordSignupCType" formControlName="confirmPassword" label="Confirm password"
                  labelPlacement="floating">
                </ion-input>
                <ion-icon class="iconCss"
                    name="{{ showSignupCPassword() ? 'eye-off' : 'eye' }}" slot="end"
                    (click)="toggleShowPassword('confirm')"></ion-icon>
              </ion-item>

              <!-- paas -->

              @if (SignupCon.confirmPassword.touched && (SignupCon.confirmPassword.invalid ||
              signupForm.errors?.['passwordMismatch'])) {

              <ion-note color="danger">
                @if (SignupCon.confirmPassword.errors?.['required']) {
                <small>confirmPassword is required</small>
                }
                @if (signupForm.errors?.['passwordMismatch'] && signupForm.controls.confirmPassword.touched) {
                <small>Passwords do not match</small>
                }
              </ion-note>
              }
              <!-- end -->
              <ion-button expand="full" shape="round" type="submit" [disabled]="signupForm.invalid || submitting">Sign
                Up</ion-button>
            </ion-grid>
          </form>
          }

          <!-- login toggle -->

          <ion-item lines="none" class="toggleCss">
            @if(isLogin()) {
            <ion-toggle class="ion-text-right" [checked]="isLogin" (ionChange)="login($event)">Don't have an
              Account,<span class="toggleTxt"> Signup now</span>

            </ion-toggle>
            } @else {
            <ion-toggle class="ion-text-right" [checked]="!isLogin" (ionChange)="login($event)">
              Already have an Account, <span class="toggleTxt"> Login now</span>
            </ion-toggle>
            }
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>